.cell {
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50px;
    margin: 0px;
    background-color: transparent;
}


.row {
    margin: 0px;
}

table, tr, td {
    border-collapse: collapse;
    border: 2px solid black;
}


.boardAreaWrapper {
    background-image: url("wood.webp");
    padding: 50px;
}

.boardArea {
    padding: 50px;
    border: 3px solid black;
    background-image:   
    repeating-linear-gradient(black 0 3px, transparent 3px 100%),
    repeating-linear-gradient(90deg, black 0 3px, transparent 3px 100%);
    background-size: 100px 100px;
}

.boardGrid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 0px;
    /* border: 5px solid black; */
    /* padding: 50px; */

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

